@page
@model WebStore.AllProductsModel
@{
    ViewData["Title"] = "AllProducts";
}

<h1>AllProducts</h1>

<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicMonitor.jpg" alt="" />
    </div>

    <div class="description">
        <span>Basic Monitor</span>
        <span>Suited for light gaming and office use.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$50</div>
</div>

<!-- Product #2 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicKeyboard.png" alt="" />
    </div>

    <div class="description">
        <span>Basic Keyboard</span>
        <span>Suited for light gaming and office use.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$20</div>
</div>

<!-- Product #3 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaKeyboard.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGBA Gaming Keyboard</span>
        <span>RGBA light capability. Suited for intense gaming.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$90</div>
</div>

<!-- Product #4 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/A5+WirelessSpeakers.jpeg" alt="" />
    </div>

    <div class="description">
        <span>A5+ Wireless Speakers</span>
        <span>The A5+ Wireless Speakers are the premium speakers. Perfect for the complete in home speaker system.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$500</div>
</div>

<!-- Product #5 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicHeadphones.jpg" alt="" />
    </div>

    <div class="description">
        <span>Basic Headphones</span>
        <span>Suited for light gaming and home use.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$20</div>
</div>

<!-- Product #6 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbHeadphones.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGB Gaming Headphones</span>
        <span>RGB capability. Suited for intense gaming delivering superior sound.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$150</div>
</div>