@page
@model WebStore.AllProductsModel
@{
    ViewData["Title"] = "AllProducts";
}

<h1>AllProducts</h1>

<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicMonitor.jpg" alt="" />
    </div>

    <div class="description">
        <span>Basic Monitor</span>
        <span>Suited for light gaming and office use.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$50</div>
</div>

<!-- Product #2 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaMonitor.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGBA Gaming Monitor</span>
        <span>This monitor delivers superior quality for gaming.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$200</div>
</div>

<!-- Product #3 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicKeyboard.png" alt="" />
    </div>

    <div class="description">
        <span>Basic Keyboard</span>
        <span>Suited for light gaming and office use.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$20</div>
</div>

<!-- Product #4 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaKeyboard.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGBA Gaming Keyboard</span>
        <span>RGBA light capability. Suited for intense gaming.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$90</div>
</div>

<!-- Product #5 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaSpeakers.jpeg" alt="" />
    </div>

    <div class="description">
        <span>A5+ Wireless Speakers</span>
        <span>The A5+ Wireless Speakers are the premium speakers. Perfect for the complete in home speaker system.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$500</div>
</div>

<!-- Product #6 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicSpeakers.jpg" alt="" />
    </div>

    <div class="description">
        <span>RBasic Speakers</span>
        <span>These speakers are great for at home or small office use for an affordable price.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$15</div>
</div>

<!-- Product #7 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicHeadphones.jpg" alt="" />
    </div>

    <div class="description">
        <span>Basic Headphones</span>
        <span>Suited for light gaming and home use.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$20</div>
</div>

<!-- Product #8 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbHeadphones.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGB Gaming Headphones</span>
        <span>RGB capability. Suited for intense gaming delivering superior sound.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$150</div>
</div>

<!-- Product #9 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicMouse.jpg" alt="" />
    </div>

    <div class="description">
        <span>Basic Keyboard</span>
        <span>Suited for light gaming and office use. As well as other non-intense computer situations</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$14</div>
</div>

<!-- Product #10 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaMouse.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGBA Gaming Mouse</span>
        <span>RGBA light capability. Suited for intense gaming.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$90</div>
</div>

<!-- Product #11 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicPrinter.jpg" alt="" />
    </div>

    <div class="description">
        <span>Basic Home Printer</span>
        <span>Suited for simple office use office use. Good for small day to day printing jobs.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$25</div>
</div>

<!-- Product #12 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaPrinter.jpeg" alt="" />
    </div>

    <div class="description">
        <span>RGBA Printer</span>
        <span>This Printer is rated as best of 2020, Great for more intense office and home jobs. Reliable choice.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$450</div>
</div>

<!-- Product #13 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicSoundbar.jpeg" alt="" />
    </div>

    <div class="description">
        <span>Basic Soundbar</span>
        <span>Great/Affordable choice for sound. Great for small bedroom/ living room TV's.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$50</div>
</div>

<!-- Product #14 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaSoundbar.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGBA Soundbar</span>
        <span>
            This soundbar will deliver insane sound quality. Great for any offuce/living room/ bedroom.
            This speaker is also great for gaming and computer use.
        </span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$500</div>
</div>

<!-- Product #15 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicCamera.jpeg" alt="" />
    </div>

    <div class="description">
        <span>Basic Camera</span>
        <span>This camera is great for young kids/ Beginner photographers. Affordable price.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$20</div>
</div>

<!-- Product #16 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaCamera.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGBA Digital Camera</span>
        <span>This camera is rated as the best digital camera of 2020. Intense 60 megapixels!</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$41,000</div>
</div>

<!-- Product #17 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicFlashDrive.jpeg" alt="" />
    </div>

    <div class="description">
        <span>Basic Flash Drive</span>
        <span>Great for small storage of various files.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$2</div>
</div>

<!-- Product #18 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaFlashDrive.jpg" alt="" />
    </div>

    <div class="description">
        <span>RGBA Flash Drive</span>
        <span>This samsung flash is great for storing various file types and large files.</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$18</div>
</div>

<!-- Product #19 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/basicTV.jpg" alt="" />
    </div>

    <div class="description">
        <span>Basic TV</span>
        <span>Pretty sure this thing doesn't even work anymore. But you should still buy it.</span>
        <span>White</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$20,000</div>
</div>

<!-- Product #20 -->
<div class="item">
    <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
    </div>

    <div class="image">
        <img src="~/images/rgbaTV.jpeg" alt="" />
    </div>

    <div class="description">
        <span>RGBA TV</span>
        <span>This 98" Tv is the ablsolute bomb.com</span>
        <span>Brown</span>
    </div>

    <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            <img src="minus.svg" alt="" />
        </button>
    </div>

    <div class="total-price">$10,000</div>
</div>

