@page
@model CreateAccountModel
@{
    ViewData["Title"] = "Create Account";
}

<h1>Create Account</h1>
<form method="post">
    <input type="text" asp-for="Account.UserName" placeholder="User Name" />
    <input type="text" asp-for="Account.Password" placeholder="Password" />
    <input type="text" asp-for="Account.Address" placeholder="Address" />
    <input type="text" asp-for="Account.City" placeholder="City" />
    <input type="text" asp-for="Account.State" placeholder="State" />
    <input type="text" asp-for="Account.PostalCode" placeholder="Zip COde" />



    <button type="submit">Submit</button>
</form>