@page
@model WebStore.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<head runat="server">
    <link rel="stylesheet" href="~/css/cartStyles.css" type="text/css" />
    <title>Shopping Cart</title>
</head>

<h1>Shopping Cart</h1>


<div class="shoppingCart">

</div>

<button class="btnCheckout" onclick="checkoutBtn()">Proceed to checkout</button>

