@page
@model WebStore.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>Shopping Cart</h1>


<div class="shoppingCart">

</div>


<form asp-page-handler="checkout" method="post">
    <button class="btnCheckout">Proceed to checkout</button>
</form>

