@page
@model WebStore.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<head runat="server">
    <link rel="stylesheet" href="~/css/cartStyles.css" type="text/css" />
    <title>Shopping Cart</title>
</head>

<h1>Shopping Cart</h1>


           <h5 class="title" id="Label">Cart</h5>
                <button type="button" class="close"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            
            <div class="body">
                <table class="show-cart table">
                </table>
                <div>Total price: $<span class="total-cart"></span></div>
            </div>
            <div class="footer">
                <button type="button" class="btn btn-primary" onclick="checkoutBtn()">Order now</button>
                <button class="clear-cart btn btn-danger">Clear Cart</button>
            </div>
     

