html {
    text-decoration-color: darkgray;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    font-family: "Open Sans", sans-serif, Verdana, Geneva, Tahoma;
    border: none;
}

body {
    width: 100%;
    margin: 5px auto;
    padding: 5px, 10px, 10px, 10px;
    border: none;
}

.nav {
    float: right;
}

.head {
    float: left; 
    color: #313131;
    padding: 10px;
}

h4 {
    margin-left: 24px;
}

a {
    color: darkgrey;
}

@media (min-width: 768px) {
  html {
     width: 100%;
    font-size: 16px;
  }

}




